@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Manrope&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #1a2a1c;
    font-family: 'Manrope', sans-serif;
}

/* position the container */
.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* styling the date, month, year text */
.text {
    color: rgb(241, 242, 247);
    font-family: 'Inter', sans-serif;
    width: 100%;
    text-align: center;
}

/* styling the time  */
.time {
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    color: black;
    padding: 20px;
    margin-top: 10px;
    text-align: center;
    font-family: 'Manrope', sans-serif;
}

@media screen and (max-width:800px) {
    
    .text{
       font-size: 20px;
    }
    .time{
        margin-top: 20px;
        font-size: 16px;
    }
}
